

.carousel{
    width: 74% ;
    margin-left: 13%;
}
body{
    background-color: #fff;

}

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
    border-bottom: 1px solid #fff;
    background-color: rgba(0,0,0,0.1);
    transition: all .35s ease;
    
}

.nav-link{
    color: #fff
}

.navbar.affix {
    background-color:rgba(0, 0, 0, 0.842);
    background-color:rgba(0, 0, 0, 0.842);
    border-bottom: 1px solid #fff;
}
.nav-item{
    transition: all .35s ease;
}
.nav-item:hover{
    /* font-size: 18px; */
    border-top: #fff solid 2px;
    border-bottom: #fff solid 2px;
}
.works{
    display: none;
}




/*=============================================
=                  Header                     =
=============================================*/
.jumbotron {
    /* padding: 250px 0px; */
    color: white;
    border-radius: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:auto;
}

#header {
    background-image: url('../img/headerImg.jpg');
    background-size: cover;
    /* 固定背景 */
    background-attachment: fixed;
    position: relative;
}

.header-title {
    font-size: 3.2em;
    font-weight: 700;
    text-shadow: 2px 3px 4px #000000;
}
#header.affix{
    filter: blur(5px);
}
@media(max-width:768px){
    #header{
        background-position: center center;
    }
}
/*=============================================
=                  about                      =
=============================================*/

#aboutSection{
    height: auto;
    margin-bottom: 50px;
    padding-top: 3%;
    background-color: #fff;

}

.about-bg{
    border-radius: 90%;
	width: 350px;
    height: 300px;
    border: #000 solid 1px;
}

.section-title{
    color:rgba(0, 0, 0, 0.842);
}
#aboutSection{
    flex-wrap: wrap;
}


#aboutRow{
    flex-wrap: wrap;
    color:rgba(0, 0, 0, 0.842);
}

#adId{
    margin-top: 25px;
    color:rgba(0, 0, 0, 0.842);
}
@media(max-width:768px){
    .about-bg{
        width: 300px;
        height: 270px;
    }
}
/*=============================================
=                  Skill                     =
=============================================*/

#skill{
background-color:rgba(0, 0, 0, 0.842);
height: auto;
padding-top: 6%;
padding-bottom: 6%;
}

.skill-title{
    text-shadow: 0px 6px 0px black
}

#skill .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#skill ul{
    margin: 20px;
    text-align: center;
}

#skill li{
    box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    color: #eeeeee;
    letter-spacing: 1.75px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 10px;
    line-height: 36px;
    position: relative;
    z-index: 5;
}
#skill li::before{
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border: 3px solid #eee;
    border-radius: 8px;
    pointer-events: none;
    transition: all .35s ease;
    padding: 20px;
}
#skill li::after{
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: -1;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .35s ease;
    padding: 20px;
}
#skill li>a{
    color: inherit;
    padding: 8px 24px;
    position: relative;
    z-index: 3;
    transition: all .35s ease;
}

#skill li:hover{
    color: rgba(14, 233, 178, 0.993);
    
}

#skill li:hover::before{
    border: 2px solid rgba(14, 233, 178, 0.993);
}

#skill li:hover::after{
    left: 0px;
    top: 0px;
}
.chart{
    width: 50px;
    height: 60px;
}
@media(max-width:769px){
    #Chart{
        height: 207px;
        width: 690px;
    }
}
/*=============================================
=                  work                     =
=============================================*/

.work{
    background-color: rgba(0, 0, 0, 0.842);
    height: 600px;
}
.work img{
    height: 600px;
}
@media(max-width:569px){
    .work{
        height: 300px;
    }
    .work img{
        height: 300px;
    }
}
.rightCol{
    color: #000;
    font-size: 36px;
}

.carousel-caption>h5{
    color: #000000
}
.carousel-caption>p{
    color: #000000
}
/*=============================================
=                  work-m                     =
=============================================*/
.card-m img{
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
    margin-top:5px;
    border: rgba(0, 0, 0, 0.842) solid 2px;
}
.card-m{
    margin-top:3px;
    border: rgba(0, 0, 0, 0.842) solid 5px;
}
#workSection-m{
    display: none;
}
/*=============================================
=                  contact                     =
=============================================*/

#contact{
    background-color:rgba(0, 0, 0, 0.842);
    height: 400px;
    color: #eee;
}

.contact-title{
    text-shadow: 0px 6px 0px black;
}

#contact li {
    width: 70%;
    height: 50%;
    display: inline-block;
    text-align: center;
}

#contact ul{
    text-align: auto;
}

#contact div>li>a{
    color: #eee;
    font-size: 54px;
    transition: all .5s ease;
}

#contact div>li>a:hover{
    font-size: 60px;
}


.copyCol{
    background-color:rgba(0, 0, 0, 0.774);
    height: 50px;
}

.copyfont{
    font-size: 18px;
}



@media(max-width:769px){
    .m-none{
        display: none;
    }
    #workSection-m{
        display: block;
    }
    .skill-group{
        padding-left: 0px;
    }
    .works{
        display: block;
    }
} 
